.group-child78 {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-white);
  width: 1728px;
  height: 190px;
}
.image-1-icon8 {
  position: absolute;
  top: 61px;
  left: 41px;
  width: 223px;
  height: 76px;
  object-fit: cover;
}
.group-child79,
.group-child80 {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-mediumslateblue);
  width: 202px;
  height: 40px;
}
.group-child80 {
  background-color: var(--color-dimgray-100);
  width: 79.91px;
}
.role8,
.student {
  position: absolute;
  top: 0;
  left: 12.99px;
  display: inline-block;
  width: 54.12px;
}
.student {
  left: 88.75px;
  width: 91.01px;
}
.rectangle-parent36 {
  position: absolute;
  top: 69px;
  left: 359px;
  width: 202px;
  height: 59px;
  font-size: var(--font-size-5xl);
}
.group-child81,
.group-child82 {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-green);
  width: 168.18px;
  height: 40px;
}
.group-child82 {
  background-color: var(--color-dimgray-100);
  width: 73.83px;
}
.kushi,
.name8 {
  position: absolute;
  top: 3px;
  left: 5px;
  display: inline-block;
  width: 75px;
}
.kushi {
  top: 0;
  left: 85px;
  font-size: var(--font-size-5xl);
  width: 80px;
}
.rectangle-parent37 {
  position: absolute;
  top: 69px;
  left: 581px;
  width: 168.18px;
  height: 59px;
}
.group-child83,
.group-child84 {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-chocolate);
  width: 301.49px;
  height: 40px;
}
.group-child84 {
  background-color: var(--color-dimgray-100);
  width: 85.11px;
}
.ra2111003020273,
.roll-no8 {
  position: absolute;
  top: 5px;
  left: 6px;
  display: inline-block;
  width: 90px;
}
.ra2111003020273 {
  top: 0;
  left: 92px;
  font-size: var(--font-size-5xl);
  width: 214px;
}
.rectangle-parent38 {
  position: absolute;
  top: 69px;
  left: 785px;
  width: 306px;
  height: 59px;
}
.group-child85,
.group-child86 {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-tomato);
  width: 193.81px;
  height: 40px;
}
.group-child86 {
  background-color: var(--color-dimgray-100);
  width: 61.53px;
}
.cse-e4,
.dept8 {
  position: absolute;
  top: 5px;
  left: 4px;
  display: inline-block;
  width: 52px;
}
.cse-e4 {
  top: 0;
  left: 84px;
  font-size: var(--font-size-5xl);
  width: 115.88px;
}
.rectangle-parent39 {
  position: absolute;
  top: 69px;
  left: 1127px;
  width: 199.88px;
  height: 59px;
}
.material-symbolslogout-rounde8 {
  position: absolute;
  top: 54px;
  left: 113px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child87 {
  position: absolute;
  top: 9px;
  left: 0;
  background-color: var(--color-crimson);
  width: 180px;
  height: 60px;
}
.vector-icon8 {
  position: absolute;
  height: 30.77%;
  width: 12.78%;
  top: 34.62%;
  right: 76.11%;
  bottom: 34.62%;
  left: 11.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logout8 {
  position: absolute;
  top: 0;
  left: 59px;
  display: inline-block;
  width: 111px;
  height: 39px;
}
.material-symbolslogout-rounde-parent6 {
  position: absolute;
  top: 56px;
  left: 1471px;
  width: 180px;
  height: 78px;
  font-size: var(--font-size-13xl);
}
.group-child88 {
  position: absolute;
  top: 190px;
  left: 1px;
  background-color: var(--color-dodgerblue-300);
  width: 170px;
  height: 946px;
}
.user-1-icon {
  position: absolute;
  top: 349px;
  left: 62px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.exam-1-icon,
.home-1-icon8,
.report-1-icon {
  position: absolute;
  top: 220px;
  left: 60px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.exam-1-icon,
.report-1-icon {
  top: 476px;
}
.exam-1-icon {
  top: 605px;
}
.group-child89,
.medical-leave-child {
  position: absolute;
  top: 196px;
  left: 0;
  background-color: var(--color-dodgerblue-200);
  width: 171px;
  height: 144px;
}
.medical-leave-child {
  top: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.15);
  width: 340px;
  height: 430px;
}
.hospital-1-icon {
  position: absolute;
  top: 65px;
  left: 95px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.apply-child,
.medical-leave11 {
  position: absolute;
  top: 255px;
  left: 53px;
}
.apply-child {
  top: 5px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-dodgerblue-100);
  width: 300px;
  height: 50px;
}
.apply,
.apply1 {
  position: absolute;
  top: 0;
  left: 122px;
}
.apply {
  top: 355px;
  left: 18px;
  width: 300px;
  height: 59px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.medical-leave10,
.on-duty-leave-child {
  position: absolute;
  width: 340px;
  height: 430px;
}
.medical-leave10 {
  top: 364px;
  left: 231px;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.on-duty-leave-child {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
}
.apply-item,
.on-duty10 {
  position: absolute;
  top: 255px;
  left: 100px;
}
.apply-item {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-dodgerblue-100);
  width: 300px;
  height: 50px;
}
.apply3 {
  position: absolute;
  top: 10px;
  left: 117px;
}
.apply2,
.on-duty-leave {
  position: absolute;
  top: 360px;
  left: 19px;
  width: 300px;
  height: 69px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.on-duty-leave {
  top: 364px;
  left: 756px;
  width: 340px;
  height: 430px;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.apply4,
.apply5,
.others {
  position: absolute;
  top: 255px;
  left: 112px;
}
.apply4,
.apply5 {
  top: 0;
  left: 117px;
}
.apply4 {
  top: 355px;
  left: 20px;
  width: 300px;
  height: 59px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.create-request,
.other-leave {
  position: absolute;
  color: var(--color-black);
}
.other-leave {
  top: 364px;
  left: 1281px;
  width: 340px;
  height: 430px;
  font-size: var(--font-size-17xl);
}
.create-request {
  top: 244px;
  left: 231px;
  font-size: var(--font-size-29xl);
}
.rectangle-parent35 {
  position: absolute;
  top: -4px;
  left: -1px;
  width: 1729px;
  height: 1136px;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.macbook-pro-16-7-child {
  position: absolute;
  top: 49px;
  left: 459px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 810px;
  height: 1020px;
}
.macbook-pro-16-7-child1,
.macbook-pro-16-7-child2,
.macbook-pro-16-7-inner,
.macbook-pro-16-7-item {
  position: absolute;
  top: 186px;
  left: 510px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 670px;
  height: 71px;
}
.macbook-pro-16-7-child1,
.macbook-pro-16-7-child2,
.macbook-pro-16-7-inner {
  top: 289px;
}
.macbook-pro-16-7-child1,
.macbook-pro-16-7-child2 {
  top: 929px;
  left: 511px;
  background-color: var(--color-dodgerblue-100);
  width: 212px;
}
.macbook-pro-16-7-child2 {
  left: 998px;
  background-color: var(--color-crimson);
  cursor: pointer;
}
.macbook-pro-16-7-child3 {
  position: absolute;
  top: 409px;
  left: 510px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 670px;
  height: 440px;
}
.name9 {
  position: absolute;
  top: 182px;
  left: 530px;
}
.description6,
.roll-number {
  position: absolute;
  top: 285px;
  left: 536px;
}
.description6 {
  top: 411px;
  left: 527px;
}
.fluentattach-16-filled-icon {
  position: absolute;
  height: 3.85%;
  width: 2.49%;
  top: 84.42%;
  right: 66.84%;
  bottom: 11.73%;
  left: 30.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.attach,
.submit {
  position: absolute;
  top: 925px;
  left: 590px;
  color: var(--color-white);
}
.submit {
  left: 1050px;
}
.leave-application {
  position: absolute;
  top: 91px;
  left: 510px;
  font-size: var(--font-size-29xl);
}
.macbook-pro-16-7 {
  position: relative;
  background-color: var(--color-lavender);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-sans-serif-collection);
}
