.macbook-pro-16-1-child {
  position: absolute;
  top: 11px;
  left: 0;
  background-color: var(--color-white);
  width: 1728px;
  height: 190px;
}
.image-1-icon13 {
  position: absolute;
  top: 57px;
  left: 40px;
  width: 223px;
  height: 76px;
  object-fit: cover;
}
.group-child129,
.group-child130 {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-mediumslateblue);
  width: 186.64px;
  height: 40px;
}
.group-child130 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-dimgray-100);
  width: 73.83px;
}
.role13,
.student5 {
  position: absolute;
  top: 0;
  left: 8px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-sans-serif-collection);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 72px;
}
.student5 {
  left: 82px;
  width: 110px;
}
.rectangle-parent56 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 65px;
  left: 358px;
  width: 192px;
  height: 59px;
}
.group-child131,
.group-child132 {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-green);
  width: 168.18px;
  height: 40px;
}
.group-child132 {
  background-color: var(--color-dimgray-100);
  width: 73.83px;
}
.kushi-a2,
.name16 {
  position: absolute;
  top: 3px;
  left: 0;
  font-size: var(--font-size-3xl);
  font-family: var(--font-sans-serif-collection);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 67px;
}
.kushi-a2 {
  top: 0;
  left: 80px;
  font-size: var(--font-size-5xl);
  width: 86px;
}
.rectangle-parent57 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 65px;
  left: 580px;
  width: 168.18px;
  height: 59px;
}
.group-child133,
.group-child134 {
  position: absolute;
  top: 10px;
  left: 0;
  height: 40px;
}
.group-child133 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-chocolate);
  width: 301.49px;
}
.group-child134 {
  background-color: var(--color-dimgray-100);
  width: 85.11px;
}
.ra21110030202733,
.roll-no13 {
  position: absolute;
  font-family: var(--font-sans-serif-collection);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.roll-no13 {
  top: 3px;
  left: 0;
  font-size: 23px;
  width: 98px;
}
.ra21110030202733 {
  top: 0;
  left: 87px;
  font-size: var(--font-size-5xl);
  width: 216px;
}
.rectangle-parent58 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 65px;
  left: 784px;
  width: 303px;
  height: 60px;
}
.group-child135,
.group-child136 {
  position: absolute;
  top: 10px;
  left: 0;
  height: 40px;
}
.group-child135 {
  border: 0;
  background-color: var(--color-tomato);
  width: 193.81px;
}
.group-child136 {
  background-color: var(--color-dimgray-100);
  width: 61.53px;
}
.cse-e6,
.dept12 {
  position: absolute;
  top: 3px;
  left: 5px;
  display: inline-block;
  width: 52px;
}
.cse-e6 {
  top: 0;
  left: 88px;
  font-size: var(--font-size-5xl);
  width: 115.88px;
}
.rectangle-parent59 {
  position: absolute;
  top: 65px;
  left: 1126px;
  width: 203.88px;
  height: 59px;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.material-symbolslogout-rounde13 {
  position: absolute;
  top: 54px;
  left: 113px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child137 {
  position: absolute;
  top: 9px;
  left: 0;
  background-color: var(--color-crimson);
  width: 180px;
  height: 60px;
}
.vector-icon13 {
  position: absolute;
  height: 30.77%;
  width: 12.78%;
  top: 34.62%;
  right: 76.11%;
  bottom: 34.62%;
  left: 11.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logout13 {
  position: absolute;
  top: 0;
  left: 60px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-sans-serif-collection);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 111px;
  height: 39px;
}
.material-symbolslogout-rounde-parent11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 52px;
  left: 1470px;
  width: 180px;
  height: 78px;
}
.macbook-pro-16-1-item {
  position: absolute;
  top: 186px;
  left: 0;
  background-color: var(--color-dodgerblue-300);
  width: 170px;
  height: 946px;
}
.user-1-icon5 {
  position: absolute;
  top: 345px;
  left: 61px;
  width: 48px;
  height: 48px;
  object-fit: cover;
  cursor: pointer;
}
.home-1-icon13 {
  top: 216px;
}
.exam-1-icon5,
.home-1-icon13,
.report-1-icon5 {
  position: absolute;
  left: 59px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.report-1-icon5 {
  top: 472px;
  cursor: pointer;
}
.exam-1-icon5 {
  top: 625px;
}
.medical-leave-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.15);
  width: 340px;
  height: 430px;
}
.hospital-1-icon4 {
  position: absolute;
  top: 65px;
  left: 95px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.apply20,
.medical-leave17 {
  position: absolute;
  top: 255px;
  left: 53px;
}
.apply20 {
  border: 0;
  font-family: var(--font-sans-serif-collection);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  top: 355px;
  left: 18px;
  width: 300px;
  height: 59px;
  cursor: pointer;
}
.medical-leave16,
.on-duty-leave-child1 {
  position: absolute;
  top: 360px;
  left: 315px;
  width: 340px;
  height: 430px;
}
.on-duty-leave-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
}
.apply-child9,
.on-duty13 {
  position: absolute;
  top: 255px;
  left: 100px;
}
.apply-child9 {
  border: 0;
  background-color: var(--color-dodgerblue-100);
  top: 5px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 300px;
  height: 50px;
  cursor: pointer;
}
.apply22 {
  position: absolute;
  top: 0;
  left: 118px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-sans-serif-collection);
  color: var(--color-white);
  text-align: left;
}
.apply21 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 355px;
  left: 19px;
  width: 300px;
  height: 59px;
}
.on-duty-leave3 {
  position: absolute;
  top: 360px;
  left: 779px;
  width: 340px;
  height: 430px;
}
.others3 {
  position: absolute;
  top: 255px;
  left: 112px;
}
.apply-child10,
.apply23 {
  position: absolute;
  width: 300px;
}
.apply-child10 {
  top: 5px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-dodgerblue-100);
  height: 50px;
}
.apply23 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 355px;
  left: 20px;
  height: 59px;
}
.other-leave3 {
  position: absolute;
  top: 360px;
  left: 1243px;
  width: 340px;
  height: 430px;
}
.create-request3 {
  position: absolute;
  top: 240px;
  left: 230px;
  font-size: var(--font-size-29xl);
}
.macbook-pro-16-1-inner {
  position: absolute;
  top: 190px;
  left: -2px;
  background-color: var(--color-dodgerblue-200);
  width: 171px;
  height: 144px;
}
.macbook-pro-16-1 {
  position: relative;
  background-color: var(--color-lavender);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-sans-serif-collection);
}
