.group-child102 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1728px;
  height: 190px;
}
.image-1-icon10 {
  position: absolute;
  top: 61px;
  left: 40px;
  width: 223px;
  height: 76px;
  object-fit: cover;
}
.group-child103,
.group-child104 {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-mediumslateblue);
  width: 186.64px;
  height: 40px;
}
.group-child104 {
  background-color: var(--color-dimgray-100);
  width: 73.83px;
}
.role10,
.student2 {
  position: absolute;
  top: 0;
  left: 14px;
  display: inline-block;
  width: 50px;
}
.student2 {
  left: 88px;
  width: 84.09px;
}
.rectangle-parent46 {
  position: absolute;
  top: 69px;
  left: 358px;
  width: 186.64px;
  height: 118px;
  font-size: var(--font-size-5xl);
}
.group-child105,
.group-child106 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-green);
  width: 168.18px;
  height: 40px;
}
.group-child106 {
  background-color: var(--color-dimgray-100);
  width: 73.83px;
}
.name12,
.rohith1 {
  position: absolute;
  top: 7px;
  left: 7.18px;
  display: inline-block;
  width: 59.48px;
}
.rohith1 {
  top: 5px;
  left: 89.22px;
  font-size: var(--font-size-5xl);
  width: 68.71px;
}
.rectangle-parent47 {
  position: absolute;
  top: 79px;
  left: 580px;
  width: 168.18px;
  height: 123px;
}
.group-child107,
.group-child108 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-chocolate);
  width: 301.49px;
  height: 40px;
}
.group-child108 {
  background-color: var(--color-dimgray-100);
  width: 85.11px;
}
.ra21110420200161,
.roll-no10 {
  position: absolute;
  top: 7px;
  left: 6px;
  display: inline-block;
  width: 77px;
}
.ra21110420200161 {
  top: 5px;
  left: 99.47px;
  font-size: var(--font-size-5xl);
  width: 197.92px;
}
.rectangle-parent48 {
  position: absolute;
  top: 79px;
  left: 784px;
  width: 301.49px;
  height: 123px;
}
.group-child109,
.group-child110 {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-tomato);
  width: 193.81px;
  height: 40px;
}
.group-child110 {
  background-color: var(--color-dimgray-100);
  width: 61.53px;
}
.cse-b-1,
.dept10 {
  position: absolute;
  top: 17px;
  left: 6px;
  display: inline-block;
  width: 52px;
}
.cse-b-1 {
  top: 0;
  left: 74px;
  font-size: var(--font-size-5xl);
  width: 115.88px;
}
.rectangle-parent49 {
  position: absolute;
  top: 69px;
  left: 1126px;
  width: 193.81px;
  height: 71px;
}
.material-symbolslogout-rounde10 {
  position: absolute;
  top: 54px;
  left: 113px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child111 {
  position: absolute;
  top: 9px;
  left: 0;
  background-color: var(--color-crimson);
  width: 180px;
  height: 60px;
}
.vector-icon10 {
  position: absolute;
  height: 30.77%;
  width: 12.78%;
  top: 34.62%;
  right: 76.11%;
  bottom: 34.62%;
  left: 11.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logout10 {
  position: absolute;
  top: 0;
  left: 60px;
  display: inline-block;
  width: 111px;
  height: 39px;
}
.material-symbolslogout-rounde-parent8 {
  position: absolute;
  top: 56px;
  left: 1470px;
  width: 180px;
  height: 78px;
  font-size: var(--font-size-13xl);
}
.group-child112 {
  position: absolute;
  top: 190px;
  left: 0;
  background-color: var(--color-dodgerblue-300);
  width: 170px;
  height: 946px;
}
.user-1-icon2 {
  position: absolute;
  top: 349px;
  left: 61px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.exam-1-icon2,
.home-1-icon10,
.report-1-icon2 {
  position: absolute;
  top: 220px;
  left: 59px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.exam-1-icon2,
.report-1-icon2 {
  top: 476px;
}
.exam-1-icon2 {
  top: 605px;
}
.group-child113,
.medical-leave-inner {
  position: absolute;
  top: 190px;
  left: 0;
  background-color: var(--color-dodgerblue-200);
  width: 171px;
  height: 144px;
}
.medical-leave-inner {
  top: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.15);
  width: 340px;
  height: 430px;
}
.hospital-1-icon2 {
  position: absolute;
  top: 65px;
  left: 95px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.apply-child4,
.medical-leave15 {
  position: absolute;
  top: 255px;
  left: 53px;
}
.apply-child4 {
  top: 5px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-dodgerblue-100);
  width: 300px;
  height: 50px;
}
.apply12,
.apply13 {
  position: absolute;
  top: 0;
  left: 128px;
}
.apply12 {
  top: 355px;
  left: 18px;
  width: 300px;
  height: 59px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.medical-leave14,
.on-duty-leave-inner {
  position: absolute;
  width: 340px;
  height: 430px;
}
.medical-leave14 {
  top: 364px;
  left: 230px;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.on-duty-leave-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
}
.apply-child5,
.on-duty12 {
  position: absolute;
  top: 255px;
  left: 100px;
}
.apply-child5 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-dodgerblue-100);
  width: 300px;
  height: 50px;
}
.apply15 {
  position: absolute;
  top: 10px;
  left: 117px;
}
.apply14,
.on-duty-leave2 {
  position: absolute;
  top: 360px;
  left: 19px;
  width: 300px;
  height: 69px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.on-duty-leave2 {
  top: 364px;
  left: 755px;
  width: 340px;
  height: 430px;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.others2 {
  position: absolute;
  top: 255px;
  left: 112px;
}
.apply16,
.apply17 {
  position: absolute;
  top: 0;
  left: 116px;
}
.apply16 {
  top: 355px;
  left: 20px;
  width: 300px;
  height: 59px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.create-request2,
.other-leave2 {
  position: absolute;
  color: var(--color-black);
}
.other-leave2 {
  top: 364px;
  left: 1280px;
  width: 340px;
  height: 430px;
  font-size: var(--font-size-17xl);
}
.create-request2 {
  top: 244px;
  left: 230px;
  font-size: var(--font-size-29xl);
}
.rectangle-parent45 {
  position: absolute;
  top: -4px;
  left: 0;
  width: 1728px;
  height: 1136px;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.macbook-pro-16-5-child {
  position: absolute;
  top: 49px;
  left: 459px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 810px;
  height: 1020px;
}
.medical-leave-application {
  position: absolute;
  top: 91px;
  left: 510px;
  font-size: var(--font-size-29xl);
}
.macbook-pro-16-5-child1,
.macbook-pro-16-5-child2,
.macbook-pro-16-5-inner,
.macbook-pro-16-5-item {
  position: absolute;
  top: 186px;
  left: 510px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 670px;
  height: 71px;
}
.macbook-pro-16-5-child1,
.macbook-pro-16-5-child2,
.macbook-pro-16-5-inner {
  top: 289px;
}
.macbook-pro-16-5-child1,
.macbook-pro-16-5-child2 {
  top: 929px;
  left: 511px;
  background-color: var(--color-dodgerblue-100);
  width: 212px;
}
.macbook-pro-16-5-child2 {
  left: 998px;
  background-color: var(--color-crimson);
  cursor: pointer;
}
.macbook-pro-16-5-child3 {
  position: absolute;
  top: 409px;
  left: 510px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  width: 670px;
  height: 440px;
}
.description8,
.name13,
.roll-number2 {
  position: absolute;
  top: 182px;
  left: 530px;
}
.description8,
.roll-number2 {
  top: 285px;
}
.description8 {
  top: 409px;
}
.fluentattach-16-filled-icon2 {
  position: absolute;
  height: 3.85%;
  width: 2.49%;
  top: 84.42%;
  right: 66.84%;
  bottom: 11.73%;
  left: 30.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.attach2,
.submit2 {
  position: absolute;
  top: 925px;
  left: 590px;
  color: var(--color-white);
}
.submit2 {
  left: 1051px;
}
.macbook-pro-16-5 {
  position: relative;
  background-color: var(--color-lavender);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-sans-serif-collection);
}
